.btn {
	border: 1px solid black;
}

a {
	text-decoration: none;
}

button {
	margin-bottom: 20px;
}

#boutonAdd {	
	margin-top: 20px;
}

.liste, #detailWrap {
	width: 49%;
	display: inline-block;
}

.input_ajoute {
	display: block;
}

h1 {
	margin: 0;
}

#id_remove {
	width: 180px;
}